/* CSS definition file containing site wide stylesheets */
/*
     FILE ARCHIVED ON 16:39:55 Feb 01, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:50:40 Dec 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 99.108
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.066
  esindex: 0.01
  LoadShardBlock: 52.904 (3)
  PetaboxLoader3.datanode: 56.088 (4)
  load_resource: 100.723
  PetaboxLoader3.resolve: 68.316
*/