.v1_border_color {
    border-color: #1a1a1a;
}

.v1_white_color {
    color: #ffffff;
}

#v1_es_pd_label_container {
    background-color: #91070b;
}

.v1_es_op_step_selected {
    background-color: #91070b;
}

.v1_es_pd_label_container {
    background-color: #91070b;
}


/*
     FILE ARCHIVED ON 21:25:59 Feb 07, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:45:22 Dec 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 95.437
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.06
  cdx.remote: 0.055
  esindex: 0.009
  LoadShardBlock: 72.721 (3)
  PetaboxLoader3.datanode: 138.4 (4)
  load_resource: 165.742
  PetaboxLoader3.resolve: 97.64
*/