/*----------------------------------------------------------------------------
	main.css

	this css-file contains all definitions, that are independend from the
	colorschemes.

	(c) Schlund + Partner AG

	This CSS-File uses the original "Tanteks Box Modell Hack"
	http://www.tantek.com/CSS/Examples/boxmodelhack.html

	NOTE:
	Older W3C CSS validators return errors when the voice-family property
	is used in a 'screen' style sheet. This is an error in the W3C CSS
	validator itself. The validator should report a warning, not an error,
	when properties which are unsupported by a particular medium are used,
	and this has been reported to the W3C:

 ----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------
 styles for specific classes and ids
----------------------------------------------------------------------------*/

body#main_body {
    margin: 0;
    padding: 8px 0px 8px 0px;
    text-align: center;
}

/*-- global container ------------------------------------------------------*/

#container {
    padding: 0;
    margin: 0 auto;
    text-align: left;
    width: 967px;
}

#header {
    padding: 0px 0px 3px 0px;
    margin: 0;
    width: 967px;
}

#main_container {
    padding: 0px;
    margin: 0px;
}

#layout_table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

#sub_nav_column {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#content_column {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#left_column_container {
    margin: 0;
    padding: 0;
}

#sub_container1 {
    margin: 0;
    padding: 0;
}

#sub_container2 {
    margin: 0;
    padding: 0;
}

#content_container {
    overflow: hidden;
    width: 897px;
    margin: 0;
    padding: 25px 35px 20px 35px;
}

/*--- key visual -----------------------------------------------------------*/

#key_visual {
    width: 967px;
    height: 110px;
}

/*--- slogan (as text or background image) ---------------------------------*/

#slogan {
    padding: 12px 30px 5px 30px;
    height: 41px;
    margin: 3px 0px 0px 0px;
    text-align: right;
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 907px;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    width: 240px;
    height: 51px;
    position: absolute;
    top: 0px;
    margin: 67px 0px 0px 727px;
}

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    padding: 0;
    margin: 1px 0px 0px 0px;
    overflow: hidden;
    line-height: 0;
    width: 967px;
    voice-family: "\"}\"";
    voice-family: inherit;
}

#main_nav_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main_nav_list li {
    float: left;
    margin: 0;
    padding: 0;
}

/*--- main navigation items ------------------------------------------------*/

#main_nav_list a {
    overflow: hidden;
    margin: 0;
    padding: 0px 20px 0px 20px;
    display: block;
    float: left;
    line-height: 25px;
    text-align: center;
    height: 26px;
    voice-family: "\"}\"";
    voice-family: inherit;
    background-repeat: repeat-x;
}

/*--- container for the subnavigation --------------------------------------*/

.sub_nav_container {
    line-height: 0;
    padding: 0px 20px 0px 20px;
    margin: 0;
    overflow: hidden;
    width: 927px;
    voice-family: "\"}\"";
    voice-family: inherit;
}

/*--- subnavigation --------------------------------------------------------*/

.sub_nav_list {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sub_nav_list li {
    float: left; MIN-WIDTH: 50px;
    margin: 0;
    padding: 0;
}

/*--- subnavigation items --------------------------------------------------*/

.sub_nav_list a { MIN-WIDTH: 50px; white-space:nowrap;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0px 15px 0px 15px;
    display: block;
    float: left;
    line-height: 20px;
    text-align: left;
    height: 21px;
    voice-family: "\"}\"";
    voice-family: inherit;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
    margin: 0;
    padding: 0;
    width: 967px;
    clear: both;
}

#footer_text {
    padding: 0px 35px 22px 35px;
    margin: 0;
    text-align: left;
}

/*----------------------------------------------------------------------------
  default-styles for .content html-elements
----------------------------------------------------------------------------*/

/*--- paragraph ------------------------------------------------------------*/

.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.content table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0px 1px 0px 1px;
}

.content select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.content input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

.content textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

/*--- tables ---------------------------------------------------------------*/

.content td {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

.content th {
    padding: 3px 2px 3px 2px;
}

.content tr.odd {
    padding: 3px 2px 3px 2px;
}

.content tr.even {
    padding: 3px 2px 3px 2px;
}

/*--- forms ----------------------------------------------------------------*/

.content legend {
    font-size: 14px;
    font-weight: bold;
}

.content fieldset {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}

/*--- lists ----------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/


/*
     FILE ARCHIVED ON 21:24:20 Feb 07, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:45:23 Dec 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 436.207
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.079
  cdx.remote: 0.069
  esindex: 0.01
  LoadShardBlock: 402.228 (3)
  PetaboxLoader3.datanode: 373.416 (4)
  load_resource: 771.774
*/