/* CSS definition file containing site wide stylesheets */
/*
     FILE ARCHIVED ON 16:39:55 Feb 01, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:21:48 Dec 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 192.749
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.059
  cdx.remote: 0.056
  esindex: 0.008
  LoadShardBlock: 42.121 (3)
  PetaboxLoader3.datanode: 49.773 (4)
  load_resource: 80.237
  PetaboxLoader3.resolve: 51.858
*/