/* CSS definition file containing site wide stylesheets */

/*
     FILE ARCHIVED ON 15:28:58 Feb 20, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:49:05 Dec 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 81.474
  exclusion.robots: 0.087
  exclusion.robots.policy: 0.076
  cdx.remote: 0.073
  esindex: 0.011
  LoadShardBlock: 54.015 (3)
  PetaboxLoader3.datanode: 45.726 (4)
  PetaboxLoader3.resolve: 68.764 (2)
  load_resource: 69.289
*/